* {
  font-size: 12px;
  font-family: ui-monospace, monospace, 'Hack Nerd Font';
}
.yasb-bar {
  padding-top: 2;
  background-color: black;
}
.dark .widget {
  background-color: black;
  margin: 0 4px;
  padding: 0 4px;
  border-radius: 12px;
}
.widget .label {
  padding: 0px 2px; 
}
.icon {
  font-size: 16px;
}

/* battery */
.battery-widget .widget-container .icon {
    margin-right: 4px;
}

/* glazewm */
.glazewm-workspaces .ws-btn {
  overflow: visible;
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 4px;
  margin-right: 4px;
}
.glazewm-workspaces .ws-btn .label {
  font-size: 20px;
}
.glazewm-workspaces .ws-btn .icon-1 {
  padding-left: 3px;
}
.glazewm-workspaces .ws-btn.populated {
  color: black;
  background-color: black;
}
.glazewm-workspaces .ws-btn.active_populated {
  color: black;
  background-color:#444444;
}
.glazewm-workspaces .ws-btn.active_empty {
  color: black;
  background-color:#444444;
}
.glazewm-workspaces .ws-btn.empty {
  color: black;
  background-color:#444444;
}

/* wifi */
.wifi-widget .icon {
    font-size: 15px;
}
/* wifi documentation */
.wifi-menu {
    font-family: 'Segoe UI';
    background-color: rgba(17, 17, 27, 0.4);
    max-height: 350px;
    min-height: 375px;
    min-width: 375px;
}
.wifi-menu .progress-bar {
    max-height: 2px;
}
.wifi-menu .progress-bar::chunk {
    background-color: #4cc2ff;
}
.wifi-menu .header {
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
    padding: 12px;
    background-color: rgba(17, 17, 27, 0.6);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.wifi-menu .error-message {
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
    padding: 12px;
    background-color: red;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.wifi-menu .wifi-list {
    background-color: rgba(17, 17, 27, 0.8);
    margin-right: 3px;
}
.wifi-menu .wifi-item {
    min-height: 35px;
    padding: 2px 12px;
    margin: 2px 4px;
}
.wifi-menu .wifi-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
}
.wifi-menu .wifi-item[active=true] {
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 14px;
    border-radius: 6px;
    min-height: 80px;
}
.wifi-menu .wifi-item .icon {
    font-family: 'Segoe Fluent Icons';
    font-size: 26px;
    margin-right: 10px;
}
.wifi-menu .wifi-item .name {
    font-family: 'Segoe UI';
    font-size: 14px;
    margin-right: 10px;
}
.wifi-menu .wifi-item .password {
    font-family: 'Segoe UI';
    background-color: transparent;
    font-size: 14px;
}
.wifi-menu .wifi-item .status {
    font-family: 'Segoe UI';
    font-size: 14px;
}
.wifi-menu .wifi-item .strength {
    font-family: 'Segoe UI';
    font-size: 14px;
}
.wifi-menu .wifi-item .controls-container {
    padding-top: 8px;
}
.wifi-menu .wifi-item .connect {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 4px 30px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}
.wifi-menu .wifi-item .connect:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.wifi-menu .wifi-item .connect:pressed {
    background-color: rgba(255, 255, 255, 0.3);
}
.wifi-menu .footer {
    font-size: 12px;
    font-weight: 600;
    padding: 12px;
    margin-top: 2px;
    color: #9399b2;
    background-color: rgba(17, 17, 27, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.wifi-menu .footer .settings-button {
    font-family: 'Segoe UI';
    background-color: transparent;
    border: none;
    padding: 0 2px;
    min-width: 26px;
    min-height: 26px;
    color: #fff;
}
.wifi-menu .footer .refresh-icon {
    font-family: 'Segoe Fluent Icons';
    background-color: transparent;
    border: none;
    min-width: 26px;
    min-height: 26px;
    color: #fff;
}
.wifi-menu .footer .refresh-icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

/* volume */
.volume-widget .icon {
    font-size: 14px;
    margin-bottom: 2px;
}
/* volume from doc */
.audio-menu {
    background-color:rgba(17, 17, 27, 0.4); 
    min-width: 300px;
}
.audio-menu .system-volume-container .volume-slider {
    border: none;
}
.audio-menu .audio-container .device {
    background-color:transparent;
    border: none;
    padding:6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 4px;
}
.audio-menu .audio-container .device.selected {
    background-color: rgba(255, 255, 255, 0.085);
}
.audio-menu .audio-container .device:hover {
    background-color: rgba(255, 255, 255, 0.06);
}
.audio-menu .toggle-apps {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    min-height: 24px;
    min-width: 24px;
    border-radius: 4px;
}
.audio-menu .toggle-apps.expanded {
    background-color: rgba(255, 255, 255, 0.1);
}
.audio-menu .toggle-apps:hover {
    background-color: rgba(255, 255, 255, 0.15);
}
.audio-menu .apps-container {
    padding: 8px;
    margin-top:20px;
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 0.062)
}
.audio-menu .apps-container .app-volume .app-icon-container {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 6px;
    margin-right: 8px;
}
.audio-menu .apps-container .app-volume .app-slider {
    min-height: 40px;
    max-height: 40px;
}
.audio-menu .apps-container .app-volume .app-icon-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* weather */
.weather-widget .icon {
    margin-right: 4px;
}
/* Weather card style */
.weather-card {
    background-color: rgba(17, 17, 27, 0.5);
}
.weather-card-today {
    border: 1px solid #282936;
    border-radius: 8px;
    background-color:  rgba(17, 17, 27, 0.2);
}
.weather-card-today .label {
    font-size: 12px;
}
.weather-card-today .label.location {
    font-size: 24px;
    font-weight: 700;
}
.weather-card-today .label.alert {
    font-size: 12px;
    font-weight: 700;
    background-color: rgba(247, 199, 42, 0.05);
    border: 1px solid rgba(247, 209, 42, 0.1);
    color: rgba(196, 181, 162, 0.85);
    border-radius: 6px;
    padding: 5px 0;
}
.weather-card-day {
    border: 1px solid #45475a;
    border-radius: 8px;
    background-color:  rgba(17, 17, 27, 0.2);
}
.weather-card-day.active {
    background-color: rgba(40, 40, 60, 0.6);
    border: 1px solid rgba(50, 50, 75, 1);
}
.weather-card-day:hover {
    background-color: rgba(40, 40, 60, 0.6);
}
.weather-card-day .label {
    font-size: 12px;
}
.weather-card .hourly-container {
    border: 1px solid #282936;
    background-color: rgba(40, 40, 60, 0.6);
    border-radius: 8px;
    min-height: 150px;
}
.weather-card .hourly-data {
    /* font-family: 'Segoe UI';*/
    /* color: cyan;*/ /* <- Font color */
    background-color: #FAE93F; /* <- Curve color */
    font-size: 12px;
    font-weight: bold;
}

/* Home */
.home-widget .label {
    font-size: 16px;
    padding: 0px;
}
.home-menu {
    background-color:rgba(17, 17, 27, 0.5); 
}
.home-menu .menu-item {
    padding: 6px 48px 7px 16px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text); 
    font-weight: 600;
}
.home-menu .menu-item:hover {
    background-color:rgba(128, 130, 158, 0.15);
    color: #fff;
}
.home-menu .separator {
    max-height: 1px;
    background-color:rgba(128, 130, 158, 0.3);
}

/* glazewm direction */
.glazewm-tiling-direction .btn {
    font-size: 18px;
    border: none;
}

/* microphone */
.microphone-widget .icon {
    font-size: 14px;
    margin-bottom: 2px;
}

/* grouper */
.grouper .container {
    z-index: 1000;
    overflow: visible;
}
.grouper .grouper-button {
    overflow: visible;
    position: absolute;
    z-index: 1000;
    font-size: 16px;
    color: #ffffff;
    border: none;
    margin-left: 6px;
}
.grouper .grouper-button:hover {
    color: #88c0d0;
}

/* power-plan */
.power-plan-widget .icon {
    padding-left: 4px;
    font-size: 18px;
}
/* doc */
.power-plan-menu .menu-content {
    margin: 10px;
}
.power-plan-menu .menu-content .button {
    background-color: transparent;
    font-weight: 600;
    font-size: 13px;
    font-family: 'Segoe UI';
    padding: 6px 12px;
    margin: 1px 0;
    border: none;
    border-radius: 4px;
    text-align: left;
}
.power-plan-menu .menu-content  .button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.power-plan-menu .menu-content .button.active {
    background-color: rgba(0, 120, 212, 0.1);
    border: 1px solid rgba(0, 120, 212, 0.4);
}
