[user]
    email = quentin.leveque@bluebotics.com
    name = Quentin Leveque
    autocrlf = true
[diff]
    tool = vimdiff3
[merge]
    tool = vimdiff3
    conflictstyle = diff3
[core]
    editor = nvim
[difftool "vimdiff3"]
    path = nvim
[mergetool "vimdiff3"]
    path = nvim
    keepBackup = false
[alias]
    graph = log --pretty=format:\"%C(yellow)%h %C(magenta)%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s\" --graph
