#!/bin/zsh
alias cat='batcat --plain'
alias draft='e ~/.draft.txt'
alias fd='fdfind'
alias g='jump'
alias gcm='git commit -m'
alias gg='glol'
alias glp='git log -p'
alias ll='ls -la'
alias ls='lsd'
alias q='qalc'
alias rg='rg --smart-case'
alias telnet='telnet -e ^C'
alias xargs='xargs -i'
