#!/bin/zsh
alias cat='batcat --plain'
alias fd='fdfind'
alias g='jump'
alias ga='git add'
alias gcm='git commit -m'
alias gcp='git cherry-pick'
alias gcpc='git cherry-pick --continue'
alias glp='git log -p'
alias gp='git push'
alias gpf='git push --force'
alias gc='git commit'
alias gc!='git commit --amend'
alias gcn!='git commit --amend --no-edit'
alias grb='git rebase'
alias grbc='git rebase --continue'
alias gst='git status'
alias ll='ls -la'
alias ls='lsd'
alias q='qalc'
alias rg='rg --smart-case'
alias telnet='telnet -e ^C'
alias xargs='xargs -i'
