[user]
	email = qleveque@hotmail.com
	name = Quentin Leveque
[core]
	editor = nvim
	ignorecase = true
	whitespace = trailing-space
	longpaths = true
	filemode = false
	excludesfile = ~/.gitignore
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[diff]
	tool = nvimdiff
	context = 0
[difftool]
	prompt = false
	trustExitCode = true
	tool = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	parent = "!h(){ git log -n1 --oneline `git merge-base $*`;};h"
[color "diff"]
	meta = black
	frag = black
	func = black
	commit = blue
