[user]
  email = qleveque@hotmail.com
  name = Quentin Leveque
[core]
  editor = nvim
  ignorecase = true
  whitespace = trailing-space
  longpaths = true
  autocrlf = true
  filemode = false
  excludesfile = ~/.gitignore
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[diff]
  tool = vimdiff
[difftool]
  prompt = false
  trustExitCode = true
[difftool "vimdiff"]
  cmd = nvim --cmd 'au BufRead /tmp/* setl noma' -d $LOCAL $REMOTE
[merge]
  conflictstyle = diff3
  tool = nvimdiff
[mergetool]
  keepBackup = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[alias]
  parent = "!h(){ git log -n1 --oneline `git merge-base $*`;};h"
