zmodule zsh-users/zsh-autosuggestions
zmodule zdharma-continuum/fast-syntax-highlighting
zmodule lincheney/fzf-tab-completion --source zsh/fzf-zsh-completion.sh
zmodule ohmyzsh/ohmyzsh --root plugins/jump
zmodule qleveque/zsh-vi-search
