[submodule "zsh/.zsh/plugins/zsh-system-clipboard"]
	path = zsh/.zsh/plugins/zsh-system-clipboard
	url = https://github.com/kutsan/zsh-system-clipboard
[submodule "vifm/.vifm/vifm_devicons"]
	path = vifm/.vifm/vifm_devicons
	url = https://github.com/cirala/vifm_devicons
[submodule "zsh/.zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh/plugins/zsh-autosuggestions"]
	path = zsh/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.zsh/plugins/fzf-tab"]
	path = zsh/.zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh/.zsh/plugins/zshmarks"]
	path = zsh/.zsh/plugins/zshmarks
	url = https://github.com/jocelynmallon/zshmarks
