nvim/.local/bin/
nvim/.local/lib/
nvim/.local/share/qalculate/
nvim/.local/share/nvim/shada/
vifm/.vifm/scripts/
vifm/.vifm/vifm-help.txt
vifm/.vifm/vifminfo
vifm/.vifm/vifminfo.json
vim/.vim/plugged/
vim/.vim/undodir/
