[submodule "zsh/.zsh/plugins/zsh-vim-mode"]
	path = zsh/.zsh/plugins/zsh-vim-mode
	url = https://github.com/softmoth/zsh-vim-mode
[submodule "zsh/.zsh/plugins/zsh-system-clipboard"]
	path = zsh/.zsh/plugins/zsh-system-clipboard
	url = https://github.com/kutsan/zsh-system-clipboard
