/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  color: rgb(115 130 175 / 95%);
  margin-right: 7px;
}

body {
  color: rgb(255 255 255 / 90%);
  font-family: ui-monospace, monospace, 'NerdFontsSymbols Nerd Font';
  font-size: 12px;
}

html,
body,
.app,
#root {
  height: 100%;
}

#root {
  border-bottom: 1px solid rgb(255 255 255 / 5%);
  background-color: transparent;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
}

.tiling-direction {
  margin-right: 5px;
  background: transparent;
  color: rgb(255 255 255 / 90%);
  border: 0;
  cursor: pointer;
}

.audio {
  margin-right: 0px;
  color: rgb(255 255 255 / 90%);
  border: 0;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: rgb(255 255 255 / 5%);
  margin-right: 4px;
  padding: 4px 8px;
  color: rgb(255 255 255 / 90%);
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &.displayed {
    background: rgb(255 255 255 / 15%);
  }

  &.focused,
  &:hover {
    background: rgb(75 115 255 / 50%);
  }
}
