source ~/.vimrc

nnoremap <C-t> :action GotoFile<CR>
nnoremap <C-n> :action GotoSymbol<CR>
nnoremap <C-s> :action FindInPath<CR>
nnoremap <C-f> :action ActivateProjectToolWindow<CR>
nnoremap <C-p> :action RecentFiles<CR>

command! Blame action Annotate
command! Diff action Compare.LastVersion
command! Diffs action Vcs.Show.Local.Changes
command! Log action Vcs.ShowTabbedFileHistory
command! Logs action Vcs.Show.Log
command! Merge action Git.ResolveConflicts

nnoremap gr :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap \f :action ShowReformatFileDialog<CR>
vnoremap \f :action ShowReformatFileDialog<CR>
nnoremap \i :action OptimizeImports<CR>
nnoremap \rn :action RenameElement<CR>
nnoremap \t :action FileStructurePopup<CR>
nnoremap \b :action ToggleLineBreakpoint<CR>
nnoremap \B :action ViewBreakpoints<CR>
nnoremap \o :action OverrideMethods<CR>

nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>
nnoremap gd gd
nnoremap <F9> :action Resume<CR>
nmap <Space> <Plug>(easymotion-bd-f2)
vmap <Space> <Plug>(easymotion-bd-t2)
omap <Space> <Plug>(easymotion-bd-t2)
nnoremap [[ ?\v\<class\s<CR>
nnoremap ]] /\v\<class\s<CR>
nnoremap [m ?\v\<def\s<CR>
nnoremap ]m /\v\<def\s<CR>
vnoremap [[ ?\v\<class\s<CR>
vnoremap ]] /\v\<class\s<CR>
vnoremap [m ?\v\<def\s<CR>
vnoremap ]m /\v\<def\s<CR>
