source ~/.vimrc

map <C-j> <C-W>j
map <C-k> <C-W>k
map <C-h> <C-W>h
map <C-l> <C-W>l

nnoremap <C-t> :action GotoFile<CR>
nnoremap <C-s> :action FindInPath<CR>
nnoremap <C-f> :action ActivateProjectToolWindow<CR>
nnoremap <C-w><C-w> :action RecentFiles<CR>

nnoremap gr :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gd gd

nnoremap <F9> :action Resume<CR>

nnoremap \f :action ShowReformatFileDialog<CR>
vnoremap \f :action ShowReformatFileDialog<CR>
nnoremap \i :action OptimizeImports<CR>
nnoremap \rn :action RenameElement<CR>
nnoremap \b :action ToggleLineBreakpoint<CR>
nnoremap \B :action ViewBreakpoints<CR>
nnoremap \o :action OverrideMethods<CR>
nnoremap \t :action FileStructurePopup<CR>

command! Blame action Annotate
command! Diff action Compare.LastVersion
command! Diffs action Vcs.Show.Local.Changes
command! Log action Vcs.ShowTabbedFileHistory
command! Logs action Vcs.Show.Log
command! Merge action Git.ResolveConflicts

nmap <Space> <Plug>(easymotion-bd-fn)
vmap <Space> <Plug>(easymotion-bd-tn)
omap <Space> <Plug>(easymotion-bd-tn)

nnoremap [[ ?\v\<class\s<CR>
nnoremap ]] /\v\<class\s<CR>
nnoremap [m ?\v\<def\s<CR>
nnoremap ]m /\v\<def\s<CR>

vnoremap [[ ?\v\<class\s<CR>
vnoremap ]] /\v\<class\s<CR>
vnoremap [m ?\v\<def\s<CR>
vnoremap ]m /\v\<def\s<CR>


