[user]
  email = qleveque@hotmail.com
  name = Quentin Leveque
[core]
  editor = nvim
  ignorecase = true
  whitespace = trailing-space
  longpaths = true
  autocrlf = input
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[diff]
  tool = vimdiff
[difftool]
  prompt = false
  trustExitCode = true
[difftool "vimdiff"]
  path = nvim
[merge]
  conflictstyle = diff3
  tool = nvimdiff
[mergetool]
  keepBackup = false
[mergetool "nvimdiff"]
  cmd = "nvim -d $LOCAL $BASE $REMOTE -c 'nn doh 1do|nn dol 3do|au VimEnter * :wincmd h' && mv $BASE $MERGED"
  trustExitCode = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[alias]
  pick = "!h(){ f=\"$GIT_PREFIX$1\";b=`mktemp`;mv $f $b;git restore $f||>$f;nvim -d $b $f;[ -s $f ]&&git add $f;mv $b $f;};h"
  parent = "!h(){ git log -n1 --oneline `git merge-base $*`;};h"
