[user]
  email = qleveque@hotmail.com
  name = Quentin Leveque
[core]
  editor = nvim
  ignorecase = true
  whitespace = trailing-space
  longpaths = true
  autocrlf = input
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[diff]
  tool = vimdiff
[difftool]
  prompt = false
  trustExitCode = true
[difftool "vimdiff"]
  path = nvim
[merge]
  conflictstyle = diff3
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
