theme "blade-runner"
default_layout "layout"
pane_frames false
disable_tips true
show_startup_tips false
scrollback_editor "nvim -c autocmd\\ VimEnter\\ *\\ norm!\\ G{k^ -c set\\ ls=0\\ nonu\\ stal=0"
keybinds clear-defaults=true {
  renametab {
    bind "esc" { UndoRenameTab; SwitchToMode "normal"; }
    bind "enter" { SwitchToMode "normal"; }
  }
  tmux {
    bind "esc" { SwitchToMode "normal"; }
    bind "Ctrl c" { Clear; SwitchToMode "normal"; Write 13; }
    bind "Ctrl s" { Run "zsh" { close_on_exit true; name ""; direction "Down"; }; SwitchToMode "normal"; }
    bind "Ctrl v" { Run "zsh" { close_on_exit true; name ""; direction "Right"; }; SwitchToMode "normal"; }
    bind "Ctrl r" { SwitchToMode "renametab"; TabNameInput 0; }
    bind "Ctrl t" { NewTab; SwitchToMode "normal"; }
    bind "Ctrl f" { ToggleFocusFullscreen; SwitchToMode "normal"; }
    bind "Ctrl q" { CloseFocus; SwitchToMode "normal"; }
    bind "Ctrl a" { EditScrollback; }
  }
  shared_among "normal" "locked" {
    bind "F7" { GoToPreviousTab; SwitchToMode "normal"; }
    bind "F8" { GoToNextTab; SwitchToMode "normal"; }
    bind "Ctrl space" { SwitchToMode "tmux"; }
    bind "F3" { ToggleFloatingPanes; }
  }
  normal {
    bind "Ctrl h" { MoveFocus "Left"; }
    bind "Ctrl j" { MoveFocus "Down"; }
    bind "Ctrl k" { MoveFocus "Up"; }
    bind "Ctrl l" { MoveFocus "Right"; }
  }
}
