source ~/dotfiles/stowme/.vimrc
sethandler a:vim
set argtextobj
set commentary
set easymotion
set ideajoin
set surround
set textobj-indent

" Navigation
sethandler <C-t> a:ide
sethandler <C-n> a:ide
sethandler <C-s> a:ide
sethandler <C-p> a:ide
nnoremap <C-f> :action ActivateProjectToolWindow<CR>
nnoremap <C-q> :action CloseAllEditors<CR>
nnoremap <C-g> :action FileStructurePopup<CR>

" Panes
nnoremap <C-h> <C-W>h
nnoremap <C-j> <C-W>j
nnoremap <C-k> <C-W>k
nnoremap <C-l> <C-W>l

" Tabs
nnoremap <M-h> :action PreviousTab<CR>
nnoremap <M-l> :action NextTab<CR>
nnoremap <M-k> :action ReopenClosedTab<CR>
nnoremap <M-j> :q<CR>

" Run
nmap é :action Run<CR>
nmap É :action ChooseRunConfiguration<CR>
nmap è :action Debug<CR>
nmap È :action ChooseDebugConfiguration<CR>

" Adaptations
vnoremap <C-e> :action SurroundWithEmmet<CR>
nnoremap <CR> :action ShowIntentionActions<CR>
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)
nnoremap gd gd
nnoremap gr :action GotoDeclaration<CR>
vnoremap \f :action ShowReformatFileDialog<CR>
nmap _ :action EditorSelectWord<CR>
vmap _ :action EditorSelectWord<CR>
vmap - :action EditorUnSelectWord<CR>
let g:EasyMotion_do_mapping=0
nmap <Space> <Plug>(easymotion-bd-f2)
map ç *Ncgn
vnoremap * "xy/<C-R>x<CR>

" New
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action GotoSuperMethod<CR>

" Miscellaneous
nnoremap \i :action OptimizeImports<CR>
nnoremap \r :action RenameElement<CR>
nnoremap \o :action OverrideMethods<CR>
nnoremap \p :action ParameterInfo<CR>
nnoremap \h :action TypeHierarchy<CR>

" Git
noremap \d :action Compare.LastVersion<CR>
nnoremap \D :action Vcs.Show.Local.Changes<CR>
nnoremap \l :action Vcs.ShowTabbedFileHistory<CR>
nnoremap \L :action Vcs.Show.Log<CR>
nnoremap \b :action Annotate<CR>

" Debug
nmap <Up> :action Resume<CR>
nmap <Right> :action StepInto<CR>
nmap <Left> :action StepOut<CR>
nmap <Down> :action StepOver<CR>
nmap ùj :action NextOccurence<CR>
nmap ùk :action PreviousOccurence<CR>
nmap ùa :action ShowExecutionPoint<CR>
nmap ùc :action RunToCursor<CR>
nmap ùp :action Pause<CR>
nmap ùx :action Stop<CR>
nmap ùb :action ToggleLineBreakpoint<CR>
nmap ùùb :action ViewBreakpoints<CR>
nmap ùm :action XDebugger.MuteBreakpoints<CR>
map ùw :action Debugger.AddToWatch<CR>
nmap ùùw :action XDebugger.RemoveAllWatches<CR>
