#!/usr/bin/zsh
alias e=$EDITOR
alias du='dust -r'
alias fd='fdfind'
alias g='jump'
alias ll='ls -la'
alias ls='ls --color=auto'
alias q='qalc'
alias rg='rg --smart-case'
alias telnet='telnet -e ^C'

alias ga='git add'
alias gau='git add -u'
alias gc='git commit'
alias gcm='git commit -m'
alias gca='git commit --amend'
alias gcan='git commit --amend --no-edit'
alias gs='git status'
alias gsu='git status -uno'
alias gcp='git cherry-pick'
alias gcpa='git cherry-pick --abort'
alias gcpc='git cherry-pick --continue'
alias gr='git restore'
alias grs='git restore --staged'
alias grb='git rebase'
alias grbi='git rebase -i'
alias grba='git rebase --abort'
alias grbc='git rebase --continue'
alias gR='git reset'
alias gRm='git reset --mixed'
alias gRh='git reset --hard'
alias gRs='git reset --soft'
alias gco='git checkout'
alias gco^='git checkout HEAD^'
alias gg='git log --format="%C(yellow)%h %C(magenta)%<(7)%aN %Creset%s%Cred%d" --graph -n5'
alias grlc='git rev-list --count'
alias gw='git switch'
alias gdt='git diff-tree -r'
alias gp='git push'
alias glp='git log -p'

alias gl='tig'
alias gd='tig status'
alias gf='git files'
