#!/usr/bin/zsh
alias e='nvim'
alias fd='fdfind'
alias g='jump'
alias gcm='git commit -m'
alias gd='git difftool'
alias gg='glol -n5'
alias gl='tig'
alias glp='git log -p'
alias grl='tig reflog'
alias gsl='tig stash --list'
alias icat='wezterm imgcat'
alias ll='ls -la'
alias ls='eza --icons=auto'
alias q='qalc'
alias rg='rg --smart-case'
alias telnet='telnet -e ^C'
alias xargs='xargs --replace'
