[user]
  email = qleveque@hotmail.com
  name = Quentin Leveque
[core]
  editor = nvim
  ignorecase = true
  pager = delta
[diff]
  tool = vimdiff3
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[merge]
  tool = vimdiff3
  conflictstyle = diff3
[difftool "vimdiff3"]
  path = nvim
[mergetool "vimdiff3"]
  path = nvim
  keepBackup = false
[delta]
  features = decorations
[delta "decorations"]
  commit-decoration-style = bold white ol
  file-decoration-style = blue ol
  hunk-header-decoration-style = blue
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
