#!/bin/zsh
alias cat='bat --plain'
alias fd='fdfind'
alias g='jump'
alias glp='gitrs log -p'
alias ll='ls -la'
alias ls='lsd'
alias q='qalc'
alias rg='rg --smart-case'
alias telnet='telnet -e ^C'
alias xargs='xargs -i'
if win; then
  alias git='git-win'
fi
