#!/usr/bin/zsh
alias e=$EDITOR
alias ls='exa --icons -s type'
alias lst='exa --icons -s type -TL 3'
alias ll='exa -l'
alias du='dust -r'
alias fd='fdfind'
alias rg='rg --smart-case'
alias telnet='telnet -e ^C'
alias q='qalc'
alias meteo='curl wttr.in/lausanne'
alias parrot='curl parrot.live'
alias time='hyperfine'
alias cloc='tokei'

alias gs='git status'
alias gsu='git status -uno'
alias ga='git add'
alias gau='git add -u'
alias gc='git commit'
alias gw='git switch'
alias gr='git restore'
alias grs='git restore --staged'
alias gca='git commit --amend'
alias gcan='git commit --amend --no-edit'
alias gcp='git cherry-pick'
alias gcpc='git cherry-pick --continue'
alias gcpa='git cherry-pick --abort'
alias grc='git rebase --continue'
alias gra='git rebase --abort'
alias gri='git rebase -i'
alias gg='git graph -n15'
alias grlc='git rev-list --count'
alias gdt='git diff-tree -r'
